body{
	background-image: url("pattern.png");
}
.images{
	border: 4px;
	border-color: white;
	display: inline;
}

h1{
	border:2px dashed yellow;
	border-radius:30px 100px 30px 100px;
	color:white;
	font-size:24px;
	text-align:center;
}

hr{
	style: dotted;
	color:yellow;
}

footer{
	color:yellow;
	text-align:center;
}
