body{
	background-image: url("pattern.png");
}
.images{
	border: 4px;
	border-color: white;
	display: inline-block;
}

header{
	border:2px dashed yellow;
	border-radius:30px 100px 30px 100px;
	
}

hr{
	style: dotted;
}
